* {
  user-select: none;
}

body,
html {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  margin: 0;
}

.screen {
  height: 250px;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #292929;
}

#game-board {
  background-color: #68cca0;
  box-shadow: 0px 0px 18px 5px #121413;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.header {
  width: 100vmin;
  position: absolute;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.snake-title {
  position: absolute;
  top: 50%;
  font-size: 6em;
  opacity: 0.2;
}

#score {
  width: 50%;
  height: 5vh;
  font-size: 2em;
  color: white;
  font-weight: 400;
}

.snake {
  background-color: rgb(145, 255, 0);
  border: 0.25vmin solid black;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
  border-radius: 20px;
}

/**
CONTROL
*/
.control {
  display: none;
  font-size: 4em;
}

#main-control-up,
#main-control-middle,
#main-control-down {
  display: flex;
}

#main-control-up {
  margin-top: 1em;
}

#main-control-down {
  margin-bottom: 1em;
}

#main-control-middle {
  width: 100%;
  justify-content: space-around;
}

.mobile-control {
  padding: 25px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: #a53939;
  box-shadow: 0px 0px 5px 3px black;
}

.mobile-control:hover,
.mobile-control:active {
  box-shadow: inset 0px 0px 3px 3px black;
  color: white;
}

#control-up {
  -webkit-border-top-left-radius: 150px;
  -webkit-border-top-right-radius: 150px;
  -moz-border-radius-topleft: 150px;
  -moz-border-radius-topright: 150px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
#control-right {
  -webkit-border-top-right-radius: 150px;
  -webkit-border-bottom-right-radius: 150px;
  -moz-border-radius-topright: 150px;
  -moz-border-radius-bottomright: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}
#control-down {
  -webkit-border-bottom-right-radius: 150px;
  -webkit-border-bottom-left-radius: 150px;
  -moz-border-radius-bottomright: 150px;
  -moz-border-radius-bottomleft: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}
#control-left {
  -webkit-border-top-left-radius: 150px;
  -webkit-border-bottom-left-radius: 150px;
  -moz-border-radius-topleft: 150px;
  -moz-border-radius-bottomleft: 150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

@media screen and (max-width: 500px) {
  .snake-title {
    font-size: 3em;
    top: 25%;
  }
  .control {
    background: url(./images/real-carbon-fibre.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 9px 6px black;
    background-color: #0e0e0e;
  }
}
